<h1>Qr Test</h1>
<!--<h2>{{qrResult}}</h2>-->

<!--<input type="file" accept="image/*" (change)="onFileChange($event)" capture >-->

<!--<div class="table-wrapper">-->
  <app-hub-table [data]="data">
    <ng-template let-headers="headers" let-dataSource="dataSource">
      <div class="table-added-gadgets">
        <mat-form-field>
          <mat-label>Select a preset filter</mat-label>
          <mat-select #presetSelector [(ngModel)]="selectedPreset" (opened)="presetSelectorOpened()" (selectionChange)="usePreset($event)">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let preset of (filterPresets | keyvalue)" [value]="preset" >
              <app-removable-option #removableOptions [value]="preset" [selector]="presetSelector"
                                    (askConfirmation)="presetDeleteConfirmationRequested($event)"
                                    (valueDeleted)="deletePreset($event)">
              </app-removable-option>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Preset name" [(ngModel)]="tableFilters.name">
        </mat-form-field>
        <button color="primary" mat-raised-button (click)="savePreset()">Save preset</button>
      </div>

      <form [formGroup]="filtersFormGroup">
        <div class="table-added-gadgets">
          <div class="select" *ngFor="let filter of filterNames">
            <mat-form-field>
              <mat-label>{{filter}}</mat-label>
              <mat-select [formControlName]="filter" (selectionChange)="applyFilter(filter)">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let value of createFilterValues(dataSource['data'],filter)" [value]="value">{{value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        <button class="reset-button" mat-raised-button (click)="resetFilters()">Reset</button>

        </div>
      </form>
    </ng-template>
  </app-hub-table>
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<zxing-scanner></zxing-scanner>-->
<!--<zxing-scanner #scanner [(device)]="currentDevice" (scanSuccess)="handleQrCodeResult($event)" [formats]="['EAN_13', 'CODE_128', 'QR_CODE']" [tryHarder]="true"></zxing-scanner>-->
