.table-wrapper {
  max-width: 1000px;
  margin: auto;
}


form{
  width: 100%;
}
.table-added-gadgets {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;

  margin-top:10px

}

.table-added-gadgets > * {
  margin: 0px 15px
}

.reset-button {
  background: rgba(0,0,0,0.8); color: white;
}

