// multiple select formatting
div.mat-select-panel {
  max-height: 356px;
}

app-multiple-select div.mat-form-field-infix {
  width: 40px;
}

app-multiple-select .mat-form-field-underline
{
  display:none;
}

app-multiple-select .mat-select-arrow-wrapper,
app-multiple-select .mat-select-arrow{
  width: 0;
  padding: 0 0 0 0;
  border: none;
}

th.checkbox-column,
td.checkbox-column {
  width: 20px;
  padding-right: 15px !important;
  padding-left: 15px !important;
  flex:unset;
}

