{
  "singleQuote": true,
  "printWidth": 80,
  "editor.formatOnSave": true,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "requireConfig": false,
  "useTabs": false,
  "trailingComma": "none",
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "semi": true,
  "endOfLine": "auto"
}
