<div class="table-gadgets"></div>
<ng-content></ng-content>

<div class="table-gadgets">
  <div class="prodecures"></div>

  <div class="filter">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="locations"></div>
  <div class="groups"></div>
  <div class="cattlegories"></div>

  <div class="column-select">
    <app-multiple-select [triggerIcon]="wrench" [label]="''" [items]="headers" (selectionChange)="columnsSelected($event)"></app-multiple-select>
  </div>

</div>

<div class="mat-elevation-z8">
  <table #table mat-table [dataSource]="dataSource" cdkDropList cdkDropListLockAxis="x" cdkDropListOrientation="horizontal">
    <ng-container matColumnDef="select" >
      <th #checkbox class="checkbox-column" mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td class="checkbox-column" mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor="let column of displayedColumns; let i = index">
      <ng-container  [matColumnDef]="column.name">
        <th #headerColumn [ngStyle]="columnStyle()" mat-header-cell *matHeaderCellDef>
          <div  (dragstart)="dragStart(column)" (dragover)="drag(column)" (dragend)="dragEnd()"
               draggable="true" class="animated-container" [ngStyle]="displacementStyle(column)">
            {{column.name}}
          </div>
        </th>
        <td mat-cell [ngStyle]="columnStyle()" *matCellDef="let row">
          <div class="animated-container" [ngStyle]="displacementStyle(column)">
            <ng-container *ngIf="isString(row[column.name])">{{ row[column.name] }}</ng-container>
            <ng-container *ngIf="isDate(row[column.name])">{{ row[column.name] | date}}</ng-container>
            <ng-container *ngIf="isNumber(row[column.name])">{{ row[column.name] | number}}</ng-container>
          </div>
        </td>
      </ng-container>
    </ng-container>

    <tr #header class="header-row" mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
