table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-added-gadgets {
  border-top: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);

  display: flex;
  justify-content: space-between;

  padding:10px 15px

}
.table-base-gadgets {
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0,0,0,0.2);

  display: flex;
  justify-content: space-between;

  padding:10px 15px
}


.filter {
  justify-self: start;
}

.column-select {
  justify-self: end;
}

.animated-container {
  display: inline-block;
  transition: transform 250ms ease-out;
  padding: 15px 10px;

}

th {
  position: relative;
}


th .drag-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
