table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-gadgets {
  display: grid;
  grid-template-areas:
    "procedure blank1 filter blank2 locations groups cattlegories blank3 select";
}

.procedure {
  grid-area: procedure;
}
.filter {
  grid-area: filter;
}
.locations {
  grid-area: locations;
}
.groups {
  grid-area: groups;
}
.cattlegories {
  grid-area: cattlegories;
}
.column-select {
  width:auto;
  justify-self: end;
  grid-area: select;
}

.animated-container {
  display: inline-block;
  transition: transform 250ms ease-out;
  //cubic-bezier(0,0,.19,.71);
  padding: 15px 10px;

}

th {
  position: relative;
}


th .drag-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
