table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-gadgets {
  display: grid;
  grid-template-areas:
    "procedure blank1 filter blank2 locations groups cattlegories blank3 select";
}

.procedure {
  grid-area: procedure;
}
.filter {
  grid-area: filter;
}
.locations {
  grid-area: locations;
}
.groups {
  grid-area: groups;
}
.cattlegories {
  grid-area: cattlegories;
}
.column-select {
  width:auto;
  justify-self: end;
  grid-area: select;
}

th, td {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
