@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

@import "assets/scss/material.scss";
@import "assets/scss/design.scss";

.container {
  max-width: 1200px;
  margin:auto;
  padding: 30px 40px
}

.highlight-danger:hover{
  color:red;
}

.highlight-success:hover{
  color:darkgreen;
}
